src/main/wsdl/audit-logging-jms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://soacourse.example.org/audit" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soacourse.example.org/audit" 
xmlns:soapjms="http://www.w3.org/2010/soapjms/" targetNamespace="http://soacourse.example.org/audit">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sk="http://soacourse.example.org/audit" elementFormDefault="qualified" targetNamespace="http://soacourse.example.org/audit">
        	<xs:element name="AuditEventType">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="sk:Id" />
                        <xs:element ref="sk:Name" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Id" type="xs:integer" />
            <xs:element name="Name" type="xs:string" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AuditEvent">
        <wsdl:part element="tns:AuditEventType" name="AuditEventType" />
    </wsdl:message>
    <wsdl:portType name="AuditLoggingPortType">
        <wsdl:operation name="saveEvent">
            <wsdl:input message="tns:AuditEvent" name="AuditEvent" />
        </wsdl:operation>
    </wsdl:portType>
    <!--
    <wsdl:binding name="AuditLoggingPortBinding" type="tns:AuditLoggingPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="saveEvent">
            <soap:operation />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding> 
    <wsdl:service name="AuditLoggingService">
        <wsdl:port binding="tns:AuditLoggingPortBinding" name="AuditLoggingPortBinding">
            <soap:address location="/auditService/" />
        </wsdl:port>
    </wsdl:service>
    -->
    <wsdl:binding name="AuditLoggingPortBinding" type="tns:AuditLoggingPortType">
        <soap:binding style="document" transport="http://www.w3.org/2010/soapjms/" />
        <wsdl:operation name="saveEvent">
            <soap:operation />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="AuditLoggingService">
        <wsdl:port binding="tns:AuditLoggingPortBinding" name="AuditLoggingPortBinding">
        	<soap:address location="jms:queue:test.queue"/>
        	<soapjms:jndiConnectionFactoryName>ConnectionFactory</soapjms:jndiConnectionFactoryName>
            <soapjms:jndiInitialContextFactory>org.apache.activemq.jndi.ActiveMQInitialContextFactory</soapjms:jndiInitialContextFactory>
 			<soapjms:jndiURL>tcp://localhost:61616</soapjms:jndiURL>
        </wsdl:port>
    </wsdl:service>    
    
</wsdl:definitions>